<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GetTo Know</title>
</head>
<body>
    <div>
        <h1>HELLOOO</h1>
        <form action="/events" method="get">
            <label for="date">Enter the date(1-31)</label>
       <input type="number" name="date" id="">
       <label for="month">Enter the Month(1-12)</label>
       <input type="number" name="month" id="">
       <input type="submit" value="Submit">
        </form>
    </div>
 
</body>
</html>